.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  color: black;
  text-align: center;
}


.card{
  /* other base style */
  position: absolute;
 
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
